# macOS
.DS_Store

# Directories
data/external
data/internal
GMACMD

# Data
*.nc
*.mat
*.csv

# Matlab
*.asv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints
